html,body{
    font-family:"Arial","Consolas","Times New Roman";
}

.point {
    font-weight: bold;
    font-style: italic;
}

.aline-padding{
    padding-bottom:18px;
}

.none-list-style{
    list-style-type:none;
}

.pre-line{
    display:block;
    white-space:pre;    
}
